@import url('https://fonts.googleapis.com/css?family=Montserrat:200i,300,300i,400,400i,500,500i,600,600i,700');
.container {
  width: 1080px;
}

@font-face {
  font-family: 'Verdana';
  src: url('../assets/fonts//Verdana.ttf');
}

$font1: 'Montserrat',
sans-serif;
$font2: 'Verdana';
$main-color1: #454545;
$main-color2: #9aaf24;
$main-bg: #fafafa;