@import "./mixins";
@import "./variable";
@import "./common";

.container {

  .title {
    text-align: center;
    text-transform: uppercase;
    @include main-font($font1, 24px, $main-color1, 600);
    position: relative;
    &::before {
      display: inline-block;
      height: 4px;
      bottom: 30px;
      content: " ";
      text-shadow: none;
      background-image: linear-gradient(to right, #c5e244, #4ae3d8);
      width: 40px;
      position: absolute;
    }
  }
  .header {

    nav {
      padding: 0;
      position: relative;
      flex-direction: column;
      .navbar-brand {
        position: absolute;
        left: 0;
        top: 37px;
      }
      .navbar-toggler {
        position: absolute;
        right: 0;
        top: 37px;
        color: #000;
        border: none;
        &:focus {
          outline: 0px auto -webkit-focus-ring-color;
        }
      }
      .banner {
        position: relative;
        p {
          position: absolute;
          right: 80px;
          //width: 300px;

          height: 100px;
          float: right;
          margin-top: 80px;
          @include main-font($font1, 32px, #000, 600);
        }
        margin-top: 94px;
        background: url('../assets/images/mainimage.png') no-repeat center;
        width: 100%;
        height: 380px;
      }

      .navbar-collapse {
        z-index: 999;
        width: 100%;
        margin-top: 40px;
        ul {
          width: 100%;
          li {
            flex: 1;
            border-left: 1px solid #575757;
            border-right: 1px solid #575757;
            a {
              text-align: center;
              text-transform: uppercase;
              @include main-font($font1,
                      16px,
                      $main-color1,
                      400);
            }
            &:hover {
              a {
                color: $main-color2;
                background: #fafafa;
              }
            }
            &.active {
              a {
                color: $main-color2;
              }
            }
          }
          li:first-child {
            border-left: 2px solid #575757;
          }
          li:last-child {
            border-right: 2px solid #575757;
          }
        }
      }
    }
  }

  .news {
    border: 1px solid #eeeeee;
    background: $main-bg;
    margin-top: 50px;
    padding-top: 60px;
    padding-bottom: 70px;
    .parent {
      margin-top: 25px;
      padding-left: 180px;
      padding-right: 100px;
      .item {
        display: flex;
        label {
          @include main-font($font1,
                  14px,
                  #fff,
                  400);
          background: #333333;
          padding: 7px 28px;
          height: 30px;
        }
        p {
          @include main-font($font2,
                  16px,
                  $main-color1,
                  400);
          margin-left: 40px;
          text-decoration: underline;
          margin-bottom: 0px;
        }
      }
    }
  }
  .features {
    margin-top: 140px;
    .content {
      margin-top: 60px;
      display: flex;
      .left {
        flex: 1;
        width: 100%;
        height: 230px;
        background: url('../assets/images/features-image.jpg') no-repeat center;
        background-size: cover;
      }
      .right {
        flex: 2;
        margin-left: 50px;
        .title-sub {
          @include main-font($font2,
                  24px,
                  $main-color1,
                  600);
        }
        .info {
          margin-top: 30px;
          @include main-font($font2,
                  16px,
                  $main-color1,
                  400);
          overflow: auto;
          img {
            float: right;
            width: 250px;
            height: 90px;
          }
        }
      }
    }
  }
  .subcription {
    margin-top: 100px;
    .description {
      padding-left: 190px;
      padding-right: 190px;
      text-align: left;
      @include main-font($font2,
              16px,
              $main-color1,
              400);
      margin-top: 60px;
    }
    .row {
      margin-right: 0;
      margin-left: 0;
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 60px;
      text-align: center;
      .col-md-4 {
        padding-right: 0;
        padding-left: 0;
      }

      a {
        width: 326px;;
        &:hover {
          text-decoration: none;
          .btn {
            margin-top: 15px;
            margin-bottom: 25px;
            background: linear-gradient(to right, #c5e244, #4ae3d8);
          }
        }
      }

      .item {
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .07);
        border: 4px solid #c9e23f;
        .header {
          height: 196px;
        }
        .title-feature,
        .number {
          margin-top: 20px;
          text-align: center;
          @include main-font($font1,
                  40px,
                  $main-color1,
                  500);
        }
        .des {
          margin-top: 50px;
          @include main-font($font2,
                  14px,
                  $main-color1,
                  400);
          text-align: center;
        }
        .btn {
          height: 50px;
          background: #f6f6f6;
          width: 90%;
          margin: 0 auto;
          margin-bottom: 20px;
          margin-top: 20px;
          @include main-font($font1,
                  14px,
                  $main-color1,
                  600);
          text-align: center;
        }
        &:focus {
          box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
        }
      }
    }
  }
  .items {
    margin-top: 100px;
    .content {
      margin-top: 60px;
      .parent {
        margin-left: 0px;
        margin-right: 0px;
        .col-md-2 {
          padding-right: 0px;
          padding-left: 0px;
        }
        .item {
          background-size: cover;
          height: 180px;
        }
        min-height: 180px;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
      }
    }
  }
  footer {
    margin-top: 130px;
    p {
      text-align: center;
      @include main-font($font2,
              14px,
              $main-color1,
              400);
      text-transform: uppercase;
    }
  }
}

