@import url("https://fonts.googleapis.com/css?family=Montserrat:200i,300,300i,400,400i,500,500i,600,600i,700");
.container {
  width: 1080px; }

@font-face {
  font-family: 'Verdana';
  src: url("../assets/fonts//Verdana.ttf"); }
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1080px !important;
    padding-right: 0;
    padding-left: 0; }

  .col-md-2,
  .row {
    padding-right: 0;
    padding-left: 0; }

  .row {
    margin-right: 0 !important;
    margin-left: 0 !important; } }
.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); } }
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); } }
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.container .title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #454545;
  font-weight: 600;
  position: relative; }
  .container .title::before {
    display: inline-block;
    height: 4px;
    bottom: 30px;
    content: " ";
    text-shadow: none;
    background-image: linear-gradient(to right, #c5e244, #4ae3d8);
    width: 40px;
    position: absolute; }
.container .header nav {
  padding: 0;
  position: relative;
  flex-direction: column; }
  .container .header nav .navbar-brand {
    position: absolute;
    left: 0;
    top: 37px; }
  .container .header nav .navbar-toggler {
    position: absolute;
    right: 0;
    top: 37px;
    color: #000;
    border: none; }
    .container .header nav .navbar-toggler:focus {
      outline: 0px auto -webkit-focus-ring-color; }
  .container .header nav .banner {
    position: relative;
    margin-top: 94px;
    background: url("../assets/images/mainimage.png") no-repeat center;
    width: 100%;
    height: 380px; }
    .container .header nav .banner p {
      position: absolute;
      right: 80px;
      height: 100px;
      float: right;
      margin-top: 80px;
      font-family: "Montserrat", sans-serif;
      font-size: 32px;
      color: #000;
      font-weight: 600; }
  .container .header nav .navbar-collapse {
    z-index: 999;
    width: 100%;
    margin-top: 40px; }
    .container .header nav .navbar-collapse ul {
      width: 100%; }
      .container .header nav .navbar-collapse ul li {
        flex: 1;
        border-left: 1px solid #575757;
        border-right: 1px solid #575757; }
        .container .header nav .navbar-collapse ul li a {
          text-align: center;
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          color: #454545;
          font-weight: 400; }
        .container .header nav .navbar-collapse ul li:hover a {
          color: #9aaf24;
          background: #fafafa; }
        .container .header nav .navbar-collapse ul li.active a {
          color: #9aaf24; }
      .container .header nav .navbar-collapse ul li:first-child {
        border-left: 2px solid #575757; }
      .container .header nav .navbar-collapse ul li:last-child {
        border-right: 2px solid #575757; }
.container .news {
  border: 1px solid #eeeeee;
  background: #fafafa;
  margin-top: 50px;
  padding-top: 60px;
  padding-bottom: 70px; }
  .container .news .parent {
    margin-top: 25px;
    padding-left: 180px;
    padding-right: 100px; }
    .container .news .parent .item {
      display: flex; }
      .container .news .parent .item label {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        color: #fff;
        font-weight: 400;
        background: #333333;
        padding: 7px 28px;
        height: 30px; }
      .container .news .parent .item p {
        font-family: "Verdana";
        font-size: 16px;
        color: #454545;
        font-weight: 400;
        margin-left: 40px;
        text-decoration: underline;
        margin-bottom: 0px; }
.container .features {
  margin-top: 140px; }
  .container .features .content {
    margin-top: 60px;
    display: flex; }
    .container .features .content .left {
      flex: 1;
      width: 100%;
      height: 230px;
      background: url("../assets/images/features-image.jpg") no-repeat center;
      background-size: cover; }
    .container .features .content .right {
      flex: 2;
      margin-left: 50px; }
      .container .features .content .right .title-sub {
        font-family: "Verdana";
        font-size: 24px;
        color: #454545;
        font-weight: 600; }
      .container .features .content .right .info {
        margin-top: 30px;
        font-family: "Verdana";
        font-size: 16px;
        color: #454545;
        font-weight: 400;
        overflow: auto; }
        .container .features .content .right .info img {
          float: right;
          width: 250px;
          height: 90px; }
.container .subcription {
  margin-top: 100px; }
  .container .subcription .description {
    padding-left: 190px;
    padding-right: 190px;
    text-align: left;
    font-family: "Verdana";
    font-size: 16px;
    color: #454545;
    font-weight: 400;
    margin-top: 60px; }
  .container .subcription .row {
    margin-right: 0;
    margin-left: 0; }
  .container .subcription .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    text-align: center; }
    .container .subcription .content .col-md-4 {
      padding-right: 0;
      padding-left: 0; }
    .container .subcription .content a {
      width: 326px; }
      .container .subcription .content a:hover {
        text-decoration: none; }
        .container .subcription .content a:hover .btn {
          margin-top: 15px;
          margin-bottom: 25px;
          background: linear-gradient(to right, #c5e244, #4ae3d8); }
    .container .subcription .content .item {
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.07);
      border: 4px solid #c9e23f; }
      .container .subcription .content .item .header {
        height: 196px; }
      .container .subcription .content .item .title-feature,
      .container .subcription .content .item .number {
        margin-top: 20px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        color: #454545;
        font-weight: 500; }
      .container .subcription .content .item .des {
        margin-top: 50px;
        font-family: "Verdana";
        font-size: 14px;
        color: #454545;
        font-weight: 400;
        text-align: center; }
      .container .subcription .content .item .btn {
        height: 50px;
        background: #f6f6f6;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        color: #454545;
        font-weight: 600;
        text-align: center; }
      .container .subcription .content .item:focus {
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25); }
.container .items {
  margin-top: 100px; }
  .container .items .content {
    margin-top: 60px; }
    .container .items .content .parent {
      margin-left: 0px;
      margin-right: 0px;
      min-height: 180px;
      width: 100%;
      padding-right: 0px;
      padding-left: 0px; }
      .container .items .content .parent .col-md-2 {
        padding-right: 0px;
        padding-left: 0px; }
      .container .items .content .parent .item {
        background-size: cover;
        height: 180px; }
.container footer {
  margin-top: 130px; }
  .container footer p {
    text-align: center;
    font-family: "Verdana";
    font-size: 14px;
    color: #454545;
    font-weight: 400;
    text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
