/* Extra large devices (large laptops and desktops, 1200px and up) */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200i,300,300i,400,400i,500,500i,600,600i,700");
.container {
  width: 1080px; }

@font-face {
  font-family: 'Verdana';
  src: url("../assets/fonts//Verdana.ttf"); }
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1080px !important;
    padding-right: 0;
    padding-left: 0; }

  .col-md-2,
  .row {
    padding-right: 0;
    padding-left: 0; }

  .row {
    margin-right: 0 !important;
    margin-left: 0 !important; } }
.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); } }
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); } }
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@media screen and (min-device-width: 960px) and (max-device-width: 1200px) {
  .subcription .content {
    justify-content: space-around; }
    .subcription .content .item {
      flex: 1; }
      .subcription .content .item .header {
        width: auto !important; }
      .subcription .content .item .des {
        height: 42px; } }
@media only screen and (max-width: 960px) {
  .title {
    font-size: 48px !important; }
    .title::before {
      width: 65px !important;
      bottom: 56px !important; }

  .container {
    padding-right: 0;
    padding-left: 0; }
    .container .header {
      height: 294px; }
      .container .header nav {
        min-height: 100vh;
        width: 100%; }
        .container .header nav .navbar-collapse {
          position: absolute;
          margin-top: 94px;
          background: white;
          opacity: 0.95;
          min-height: 100vh; }
          .container .header nav .navbar-collapse ul {
            border-top: 1px solid #454545; }
            .container .header nav .navbar-collapse ul li {
              border-left: 0px;
              border-right: 0px solid #575757; }
              .container .header nav .navbar-collapse ul li a {
                border-bottom: 1px solid #454545;
                height: 60px;
                font-weight: 600;
                line-height: 60px;
                padding: 0; }
            .container .header nav .navbar-collapse ul li:last-child {
              border-right: 0px; }
            .container .header nav .navbar-collapse ul li:first-child {
              border-left: 0; }
        .container .header nav .navbar-brand {
          left: 25px; }
        .container .header nav .navbar-toggler {
          right: 25px; }
        .container .header nav .banner {
          height: 264px; }
          .container .header nav .banner p {
            position: absolute;
            right: 10px; }
    .container .news .parent {
      padding-left: 55px;
      padding-right: 55px; }
      .container .news .parent .item {
        flex-direction: column; }
        .container .news .parent .item label {
          width: 200px;
          text-align: center;
          font-size: 24px;
          font-weight: 600;
          height: auto; }
        .container .news .parent .item p {
          font-size: 32px;
          margin: 25px auto 25px 0; }
    .container .features {
      margin-top: 80px; }
      .container .features .content {
        padding-left: 55px;
        padding-right: 55px;
        flex-direction: column; }
        .container .features .content .left {
          flex: unset; }
        .container .features .content .right {
          margin-left: 0;
          padding-top: 60px; }
          .container .features .content .right .title-sub {
            font-size: 48px !important;
            margin-bottom: 50px; }
          .container .features .content .right .info {
            display: flex;
            flex-direction: column;
            font-size: 32px; }
            .container .features .content .right .info img {
              float: unset;
              width: 510px;
              height: 172px;
              margin: 0 auto;
              margin-bottom: 65px; }
    .container .subcription .description {
      font-size: 32px;
      padding-left: 55px;
      padding-right: 55px; }
    .container .subcription .content {
      display: block !important;
      padding-left: 25px;
      padding-right: 25px; }
      .container .subcription .content .item {
        margin-top: 60px;
        width: 100% !important; }
        .container .subcription .content .item .title-feature {
          font-size: 44px; }
        .container .subcription .content .item .number {
          font-size: 80px;
          font-weight: 700; }
        .container .subcription .content .item .des {
          font-size: 32px; }
        .container .subcription .content .item .btn {
          width: 90%;
          height: 100px;
          font-size: 32px; }
        .container .subcription .content .item .header {
          width: 100%;
          height: 400px; }
    .container .items {
      padding-left: 25px;
      padding-right: 25px; }
      .container .items .row {
        margin-right: 0;
        margin-left: 0; } }
@media only screen and (max-width: 426px) {
  .container .items .content .parent .item {
    height: 343px; } }

/*# sourceMappingURL=responsive.css.map */
