/* Extra large devices (large laptops and desktops, 1200px and up) */
@import "./mixins";
@import "./variable";
@import "./common";

@media screen and (min-device-width: 960px) and (max-device-width: 1200px) {
  .subcription {
    .content {
      justify-content: space-around;
      .item {
        flex: 1;
        .header {
          width: auto !important;
        }

        .des {
          height: 42px;
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .title {
    font-size: 48px !important;
    &::before {
      width: 65px !important;
      bottom: 56px !important;
    }
  }
  .container {
    padding-right: 0;
    padding-left: 0;
    .header {
      height: 294px;
      nav {
        min-height: 100vh;
        width: 100%;
        .navbar-collapse {
          position: absolute;
          margin-top: 94px;
          background: rgb(255, 255, 255);
          opacity: 0.95;
          min-height: 100vh;
          ul {
            border-top: 1px solid $main-color1;
            li {
              border-left: 0px ;
              border-right: 0px solid #575757;

              a {
                border-bottom: 1px solid $main-color1;
                height: 60px;
                font-weight: 600;
                line-height: 60px;
                padding: 0;
              }
            }
            li:last-child {
              border-right: 0px;
            }

            li:first-child {
              border-left: 0;
            }
          }
        }
        .navbar-brand {
          left: 25px;
        }
        .navbar-toggler {
          right: 25px;
        }
        .banner {
          height: 264px;
          p {
            position: absolute;
            right: 10px;
          }
        }
      }
    }

    .news {
      .parent {
        padding-left: 55px;
        padding-right: 55px;
        .item {
          flex-direction: column;
          label {
            width: 200px;
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            height: auto;
          }
          p {
            font-size: 32px;
            margin: 25px auto 25px 0;
          }
        }
      }
    }
    .features {
      margin-top: 80px;
      .content {
        padding-left: 55px;
        padding-right: 55px;
        flex-direction: column;
        .left {
          flex: unset;
        }
        .right {
          margin-left: 0;
          padding-top: 60px;
          .title-sub {
            font-size: 48px !important;
            margin-bottom: 50px;
          }
          .info {
            display: flex;
            flex-direction: column;
            font-size: 32px;
            img {
              float: unset;
              width: 510px;
              height: 172px;
              margin: 0 auto;
              margin-bottom: 65px;
            }
          }
        }
      }
    }

    .subcription {
      .description {
        font-size: 32px;
        padding-left: 55px;
        padding-right: 55px;
      }
      .content {
        display: block !important;
        padding-left: 25px;
        padding-right: 25px;
        .item {
          margin-top: 60px;
          width: 100% !important;;
          .title-feature {
            font-size: 44px;
          }
          .number {
            font-size: 80px;
            font-weight: 700;
          }
          .des {
            font-size: 32px;
          }
          .btn {
            width: 90%;
            height: 100px;
            font-size: 32px;
          }
          .header {
            width: 100%;
            height: 400px;
          }
        }
      }
    }
    .items {
      .row {
        margin-right: 0;
        margin-left: 0;
      }
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}

@media only screen and (max-width: 426px) {
  .container {
    .items {
      .content {
        .parent {
          .item {
            height: 343px;
          }
        }
      }
    }
  }
}